.chessboard-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  width: 30%;
}

.chessboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #444;
  overflow: auto;
  position: relative;
}

.reset-button {
  margin-top: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.reset-button:hover {
  background-color: #555;
}

.flip-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 90%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.flip-button:hover {
  background-color: #555;
}

.controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
}

.navigation-buttons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.navigation-buttons button:hover {
  background-color: #555;
}

#pgn,
#fen {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  width: 100%;
  height: 70px;
}
#pgn {  
  height: 150px;
}

.fen-input {
  width: 100%;
}

.pgn-input {
  margin-top: 50px;
  width: 100%;
}

.stockfish-control {
  margin-bottom: 20px;
}

.best-lines {
  margin-top: 10px;
  width: 100%;
}

.best-lines .pgn-line {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}


.score-display {
  margin-bottom: 10px;
  width: 100%;
}

.stockfish-control {
  margin-bottom: 20px;
  width: 100%;
}

.stockfish-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.stockfish-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.score-display-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-left: 15px;
}

.chess-symbol {
  font-size: 1.3rem;
  vertical-align: middle;
  margin-right: 2px;
}